<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!--<link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="monStyle.css">
    <title>Float Layout</title>
</head>
<body>
    <header>
        <h1>african cities</h1>

    </header>

    <section>
        <nav>
            <ul>
                <li><a href="HTML5.html">Yaoundé</li></a>
                <li>Ouagadougou</li>
                <a href="Abidjan.html"> <li>Abidjan</li> </a>
                <li>Ndjamena</li>
                <li>Niamey</li>
            </ul>
        </nav>
        <article>
            <h1>Abidjan</h1>
            <p>
                Abidjan est une ville du littoral Atlantique sud de la Côte d'Ivoire, en Afrique de l'Ouest. C'est le principal centre urbain du pays, avec ses gratte-ciel se dressant au-dessus de la lagune Ébrié. Les sites d'intérêt modernes regroupent la Pyramide, un édifice faisant penser à une ziggourat. La cathédrale Saint-Paul est une structure inclinée rattachée à une immense croix. Des œuvres d'art, des reliques culturelles et des objets artisanaux sont exposés au musée des Civilisations de Côte d'Ivoire.
                Abidjan constitue la plaque tournante de la musique en Afrique de l'Ouest et un producteur majeur d'Art musical en Afrique. La ville accueille la majorité des musiciens de Côte d'Ivoire en raison principalement de la présence de nombreuses discothèques qui donnent aux artistes l'occasion de débuter et de s'exprimer, des maisons de disques et des médias nationaux. Alpha Blondy, Aicha Koné, le groupe Magic System, Meiway, et Tiken Jah Fakoly mais aussi Gadji Celi, Chantal Taiba, Nayanka Bell, DJ Arafat en sont les représentants les plus illustres. La ville a aussi accueilli, dans les années 1980, Myriam Makeba, lorsqu’elle n'était pas autorisée à rentrer dans son propre pays, l'Afrique du Sud, et la diva congolaise, apôtre de la danse Sukus, Tshala Muana.

                Depuis les années 1990, de nombreux courants musicaux, s'exportant à travers toute l'Afrique et l'Occident, se développent à Abidjan. Ce sont notamment le Zoblazo, le Mapouka, le Zouglou et, depuis 2002, le coupé-décalé, dont la popularité et la grande variété des danses font aujourd'hui de la ville une sorte de capitale africaine de la danse et des tendances musicales, une étiquette précédemment détenue par le Congo-Kinshasa avec la rumba, le soukouss, puis le ndombolo. La danse Logobi est originaire d'Abidjan.

                Abidjan est également considérée comme la capitale du reggae en Afrique.
            </p>

        </article>
    </section>
    <footer>
        <p>
            &copy;copyright
        </p>

    </footer>

</body>
</html>