<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!--<link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="monStyle.css">
    <title>Float Layout</title>
</head>
<body>
    <header>
        <h1>african cities</h1>
    </header>

    <section>
        <nav>
            <ul>
                <li><a href="HTML5.html">Yaoundé</a></li>
                <li>Ouagadougou</li>
                <li> <a href="Abidjan.html"> Abidjan </a></li>
                <li>Ndjamena</li>
                <li>Niamey</li>
            </ul>
        </nav>
        <article>
            <h1>Yaoundé</h1>
            <p>
                Yaoundé, la « ville aux sept collines », est la capitale politique du Cameroun. Peuplée de 4 100 000
                habitants d'habitants en 20192, elle est, avec Douala, la ville la plus peuplée de cet État de l'Afrique
                centrale.
            </p>
        </article>

    </section>

    <footer>
        <p>
            &copy;copyright
        </p>
    </footer>

</body>
</html>